stages:
  - build

build-and-run:
  stage: build
  image: docker:20.10.16
  services:
    - name: docker:20.10.16-dind
      command: ["--tls=false", "--host=tcp://0.0.0.0:2375"]
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
    DOCKER_DRIVER: overlay2
    IMAGE_REGISTRY: registry.gitlab.kosygin-rsu.ru/studsovet/studform-trpc-vue
  before_script:
    - apk add --no-cache docker-compose
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

build_backend:
  stage: build
  script:
    - docker build -t $IMAGE_REGISTRY/backend:$CI_COMMIT_REF_NAME -f applications/server/Dockerfile .
    - docker push $IMAGE_REGISTRY/backend:$CI_COMMIT_REF_NAME
    - docker tag $IMAGE_REGISTRY/backend:$CI_COMMIT_REF_NAME $IMAGE_REGISTRY/backend:latest
    - docker push $IMAGE_REGISTRY/backend:latest
  only:
    - master

build_frontend:
  stage: build
  script:
    - docker build -t $IMAGE_REGISTRY/frontend:$CI_COMMIT_REF_NAME -f applications/web-app/Dockerfile .
    - docker push $IMAGE_REGISTRY/frontend:$CI_COMMIT_REF_NAME
    - docker tag $IMAGE_REGISTRY/frontend:$CI_COMMIT_REF_NAME $IMAGE_REGISTRY/frontend:latest
    - docker push $IMAGE_REGISTRY/frontend:latest
  only:
    - master